# required to download UNSW-NB15 dataset
kaggle

# core
streamlit
pandas
numpy
pyarrow

# visualization
plotly
matplotlib

# ML
scikit-learn
joblib
imbalanced-learn

# DL
#--extra-index-url https://download.pytorch.org/whl/cu128
torch
